:root {
  --bg-main-color: #00000080;

  --bg-accent-color: #2d2d2d;

  --accent-color: #f64435;

  --text-accent-color: #ffe498;

  --text-edit-bg-color: #575757;

  --border-color: #3f3f3f;

  --shadow-color: #202020;

  --document-bg-color: #68686850;

  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );

  --smokywhite: #dddbd8;

  --black: #000000;

  --translucent-black: #00000099;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.wrap {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: no-repeat center/cover url('../../public/images/background.png');
}

.container {
  display: flex;
  flex-direction: column;
  width: 45rem;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-main-color);
}

.header__title {
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.navbar__list {
  display: flex;
}

.navbar__item {
  margin: 0 0.2rem;
  padding: 0.5rem 2.25rem;
  background-color: var(--accent-color);
  color: var(--smokywhite);
  font-weight: bold;
  cursor: pointer;
}

.document {
  min-height: 500px;
  flex-grow: 1;
  background-color: var(--document-bg-color);
}

.footer {
  padding: 1.5rem;
  color: var(--smokywhite);
  background-color: var(--bg-main-color);
  text-align: center;
}
